@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    --w-bg: #232329;
    --w-text: #e3e3e8;
    --w-button-hover-bg: #31303b;
    --default-border-color-dark: #31303b;
    --color-promo: #a8a5ff;
    --RadioGroup-choice-color-on: hsl(0, 0%, 7%);
    --RadioGroup-choice-background-on: #a8a5ff;
    --RadioGroup-background: #232329;
    --RadioGroup-border: #31303b;
    --RadioGroup-choice-color-off: #a8a5ff;
    --RadioGroup-choice-color-off-hover: #bbb8ff;
    --RadioGroup-choice-background-off: #232329;
    --RadioGroup-choice-background-off-active: #31303b;
    --RadioGroup-choice-color-on: #121212;
    --RadioGroup-choice-background-on: rgb(168 165 255);
    --RadioGroup-choice-background-on-hover: #bbb8ff;
    --surface-box-shadow: #ffffff;
    --d-btn-hover-bg: #31303b;
    --l-btn-hover-bg: #f1f0ff;
    --color-surface-low: #ececf4;
    --icon-fill-color: #1b1b1f;
    --icon-fill-color-d: #e0dfff;
    --text-primary-color: #1b1b1f;
    --color-on-primary-container: #030064;
    --color-surface-primary-container: #e0dfff;
    --selected-tool-bg-dark: #403e6a;
    --scrollbar-thumb: #ced4da;
    --scrollbar-thumb-hover: #adb5bd;
    --color-slider-track: #ccccff;
    --color-slider-thumb: #3d3d3d;
    --light-button-bg2: #f2f2f7;
    --default-border-color: #f1f0ff;

    --color-selection: #6965db;
    --color-icon-white: #ffffff;
    --color-primary: #6965db;
    --color-primary-darker: #5b57d1;
    --color-primary-darkest: #4a47b1;
    --color-primary-light: #e3e2fe;
    --color-primary-light-darker: #d7d5ff;
    --color-primary-hover: #5753d0;
    --tool-btn-bg-hover-dark: #363541;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --surface-box-shadow: #121212;
    --shadow-island:
      0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
      0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
      0px 7px 14px 0px rgba(0, 0, 0, 0.05);
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-transparent-checkerboard {
    background-image:
      linear-gradient(
        45deg,
        #ddd 25%,
        transparent 25%,
        transparent 75%,
        #ddd 75%,
        #ddd
      ),
      linear-gradient(
        45deg,
        #ddd 25%,
        transparent 25%,
        transparent 75%,
        #ddd 75%,
        #ddd
      );
    background-size: 10px 10px;
    background-position:
      0 0,
      5px 5px;
  }
}

/* For WebKit browsers (Chrome, Edge, Safari, Opera) */
@supports (-webkit-appearance: none) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Adjust width */
    height: 8px;
    /* For horizontal scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track background */
    background: transparent;
    border-radius: 50px;
    /* Rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ced4da;
    /* Scrollbar color */
    border-radius: 50px;
    /* Rounded corners */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #343a40;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #403e6a;
  }
}

/* Firefox-specific scrollbar styling */
@-moz-document url-prefix() {
  .custom-scrollbar {
    scrollbar-width: thin;
    /* "auto" | "thin" | "none" */
    scrollbar-color: transparent #ced4da;
    /* thumb color | track color */
  }
}

.surface-box-shadow,
.menu-btn-box-shadow {
  box-shadow: 0 0 0 1px #ffffff;
}

.dark .surface-box-shadow,
.dark .menu-btn-box-shadow {
  box-shadow: 0 0 0 1px #121212;
}

.RadioGroup__choice {
  color: var(--RadioGroup-choice-color-on);
  background: var(--RadioGroup-choice-background-on);
}

.RadioGroup__choice {
  color: var(--RadioGroup-choice-color-on);
  background: var(--RadioGroup-choice-background-on);
}

.Island {
  background-color: #ffffff;
  box-shadow:
    0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
    0px 7px 14px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out;
}

.dark .Island {
  background-color: var(--w-bg);
  box-shadow:
    0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
    0px 7px 14px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

select::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb);
}

button {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.color-picker__button {
  --radius: 0.25rem;
  padding: 0;
  margin: 0;
  width: 1.35rem;
  height: 1.35rem;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  filter: none;
  background-position: left center;
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
}

.color-picker__button:hover:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  box-shadow: 0 0 0 1px #d6d6d6;
  border-radius: 5px;
  filter: none;
}

.color-picker__button.active .color-picker__button-outline {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  box-shadow: 0 0 0 1px #4a47b1;
  z-index: 1;
  border-radius: 5px;
  filter: none;
}

.popover-tooltip-arrow-pointer {
  position: absolute;
  left: 0px;
  transform-origin: 0px 0px;
  transform: translateY(50%) rotate(90deg) translateX(-50%);
  top: 24px;
}
